.card {
    
    border-radius: 8px;
    box-shadow: black 0px 0px 10px ;
    max-width: 600px;
}

.image {
    object-fit: cover;
    width: 600px;
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px;
    
}

.contentContainer{
    padding: 10px 8px 10px 8px;
}

.title{
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 10px;
}

.text{
    font-size: 14px;
    padding-bottom: 10px;
}

.button{
    background-color: orange;
    color: white;
    text-transform: uppercase;
    padding: 7px;
    display: inline-block;
    font-size: 12px;
}